<!-- This is the footer. Include anything you'd like here, like a link to an <a class="internal-link" href="/about">O mnie</a> page. -->

Informacja o dostępności dla czytników ekranowych: korzystam z gotowego szablonu, który nie jest w pełni dostępny. Jestem w trakcie wprowadzania w nim zmian.

<div class="social-icons">
  <a href="https://github.com/usigna" target="_blank">
    <span class="fab fa-github-alt"></span>
    <span class="sr-only">github, otwiera się w nowej karcie</span>
  </a>
  <a href="https://twitter.com/usigna__" target="_blank">
    <span class="fab fa-twitter"></span>
    <span class="sr-only">twitter, otwiera się w nowej karcie</span>
  </a>
  <a href="https://www.instagram.com/usigna__/" target="_blank">
    <span class="fab fa-instagram"></span>
    <span class="sr-only">instagram, otwiera się w nowej karcie</span>
  </a>
</div>